body{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

footer{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    background: radial-gradient(rgba(133, 132, 132, 0.889) 1%, rgba(86, 21, 21, 0.794), rgba(78, 7, 7, 0.858) 30%, rgba(0, 0, 0, 0) 70%);
    transform: translate(-50%, -50%);
    visibility: hidden;
}

p{
    color: white;
    margin: 0;
    padding: 0;
    max-width: fit-content; 
    text-align: center;
}

.silkscreen-regular {
    font-family: "Silkscreen", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .silkscreen-bold {
    font-family: "Silkscreen", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.page-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    font-size: 8vw;
}

nav{
    background-color: transparent;
    align-self: start;
    position: absolute; 
    top: 0; 
    right: 0;
    height: 5vh;
    padding: 4%;
    position: fixed;
    width: 100%;
}

ul{
    padding: 0;
    margin: 0;
    font-size: 1.5vw;
    display: flex;
    list-style: none;
    justify-content: right;
}

ul li a{
    color: white;
    text-decoration: none;
    margin: 0 1vw;
}