* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #333;
    color: white;
    position: relative;
}

.title {
    font-size: 3rem;
    animation: fadeIn 2s ease-in-out;
}

.subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
    animation: fadeIn 3s ease-in-out;
}

.scroll-text {
    font-size: 1.2rem;
    margin-top: 20px;
    animation: slideText 10s infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideText {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

#projects {
    padding: 40px;
    background-color: #fff;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 30px;
}
