*{
    background-color: black;
}

.footer{
    color: white;
    text-align: center;
}

.circle{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    background: radial-gradient(rgba(255, 255, 255, 0.331) 1%, rgb(86, 21, 21), rgb(78, 7, 7) 30%, rgba(0, 0, 0, 0) 70%);
    transform: translate(-50%, -50%);
    visibility: hidden;
}